.odd{
    background-color: pink;
    font-family: Verdana, 'DejaVu Sans', sans-serif;
}

#no2{
    color: blue;
    font-size: 36px;
}

.font-size{
    font-size: 24px;
}

#no4{
    background-color: lightgreen;
    font-weight: bold;
}