.b1{
    background-color: rgb(1,2,3);
    color: #ffffff;
}

.b2{
    background-color: hsl(60,100%,50%);
}

.b2, .b1{
    font-size: 28px;
    font-family: Helvetica, 'Times New Roman', sans-serif;
}